.App {
  text-align: center;
}

.App-header-link {
  float: left;
  margin: 0px 20px;
  font-size: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;

}
.App-header {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px 24px;
}

.Home-link{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
