.Categories {
  text-align: center;
  background-color: white;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.Title {
  font-size: 30px;
  font-weight: 500;
  height: 50px;
}

.Subtitle {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: normal;
}

.Sections{
  display: flex;
  max-width: 100%;
  width: 900px;
  flex-wrap: wrap;
  justify-content: center;
}

.Section {
  flex-direction: column;
  background-color: #f2f2f2;
  color: black;
  width: 155px;
  height: 87px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: 38px 54px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}
.Section-link{
  text-decoration: none;
}
.Section:hover {
  cursor: pointer;
  border: 2px solid purple;
}
  .Section span {
    margin-bottom: 9px;
  }