.Detail {
  text-align: center;
  background-color: #f7f7f7;
  overflow: hidden;
}

.padding-left-20 {
  padding-left: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-right-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.Min-max-width {
  max-width: 1000px;
  min-width: 800px;
}

.width-172 {
  width: 172px;
}

.flex-parent {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px;
  grid-column-gap: 10px;
  justify-items: center;
}

.Detail-logo {
  animation: Detail-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  background-color: #282c34;
}

.Detail-sidebar {
  width: calc(350px - 64px);
  /* min-height: 638px; */
  height: 100vh;
  background-color: #ffffff;
  text-align: left;
  /* margin-top: 50px; */
  padding: 0px 32px;
  float: left;
}

.Detail-info {
  float: left;
  border-radius: 10px;
  box-shadow: 0 10px 30px 10px #f7f7f7;
  margin-left: 32px;
  margin-top: 50px;
  padding-bottom: 24px;
}

.Detail-section {
  background-color: #ffffff;
  text-align: left;
  overflow: hidden;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.Detail-column {
  float: left;
  padding-right: 20px;
}

.Detail-header {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding-top: 24px;
}

.Detail-line {
  width: 52px;
  height: 0px;
  margin-left: 20px;
  border: solid 3px #fee7dd;
}
.Detail-name {
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  overflow: hidden;
  color: #333333;
}

.Detail-label {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 32px;
  color: #333333;
  text-transform: uppercase;
}

.Detail-text {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.Detail-img {
  /* border-radius: 50%; */
  border-radius: 10px;
  border: 1px solid grey;
  width: 286px;
  margin-bottom: 7px;
}

.Detail-about {
  border-radius: 4px;
  margin: 5px;
  text-align: center;
  /* line-height: 30px; */
}

.Detail-ttma {
  min-width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #EEE6F6;
  /* flex: 1 0 21%; Only enough space for 4 items */
  margin: 5px;
  text-align: center;
  line-height: 40px;
}

.Detail-ttma:hover {
  cursor: pointer;
}

.Detail-person-info {
  margin-top: 10px;
  text-align: left;
}

.Detail-link {
  color: #61dafb;
}

@keyframes Detail-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
