.Detail {
  text-align: center;
  background-color: #f7f7f7;
  overflow: hidden;
}

.padding-left-20 {
  padding-left: 20px;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
}

.Detail-logo {
  animation: Detail-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  background-color: #282c34;
}

.Detail-sidebar {
  width: 320px;
  background-color: #ffffff;
  text-align: left;
  padding: 50px 0px 50px 30px;
  float: left;
}

.Detail-info {
  float: left;
  border-radius: 10px;
  box-shadow: 0 10px 30px 10px #f7f7f7;
  margin-left: 32px;
  margin-top: 114px;
  padding-bottom: 24px;
}

.Detail-section {
  background-color: #ffffff;
  text-align: left;
  overflow: hidden;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.Detail-column {
  float: left;
  padding-right: 20px;
}

.Detail-header {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding-top: 24px;
}

.Detail-line {
  width: 52px;
  height: 0px;
  margin-left: 20px;
  border: solid 3px #fee7dd;
}
.Detail-name {
  width: 214px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  overflow: hidden;
  color: #333333;
}

.Detail-label {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  padding: 10px 0px 10px 0px;
  color: #333333;
}

.Detail-text {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.Detail-person-img {
  border-radius: 50%;
  border: 1px solid grey;
  margin-top: 10px;
}

.Detail-ttma {
  width: 116px;
  height: 30px;
  border-radius: 4px;
  background-color: #EEE6F6;
  flex: 1 0 21%; /* Only enough space for 4 items */
  margin: 5px;
  text-align: center;
  line-height: 30px;
}

.Detail-person-info {
  margin-top: 10px;
  text-align: left;
}

.Detail-link {
  color: #61dafb;
}

@keyframes Detail-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
