.Dog {

}
  
  .Dog-logo {
    animation: Dog-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .Dog-header {
    background-color: #282c34;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0px 20px;
  }

  h1 {
      flex-grow: 1;
      text-align: left;
  }
  .Dog-buttons {
      flex-grow: 1;
      text-align: right;
  }
  
  .Dog-buttons button {
      
      display: flex;
      flex-grow: 1;
  }

  .Dog-link {
    color: #61dafb;
  }
  
  @keyframes Dog-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  