.People {
  background-color: white;
  min-height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.Table-header {
  padding: 10px;
  background-color: #f2f2f2;
  height: 50px;
  width: 1200px;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: flex-start;
}

.Table-row {
  padding: 10px;
  background-color: #f2f2f2;
  height: 100px;
  width: 1200px;
  display: flex;
  border: 2px solid #f7f7f7;
  align-items: center;
  justify-content: flex-start;
}
.Table-row:hover {
  cursor: pointer;
  border: 2px solid purple;
}
.Image-header{
  width: 80px;
}

.Image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
}
.Name{
  width: 200px;
}
.Person-title{
  width: 200px;

}
.Department{
  width: 200px;

}
.Location{
  width: 200px;

}
.Favorite-emoji{
  width: 100px;
}
.Take-quiz{
  width: 100px;
}