.People {
  background-color: white;
  min-height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
}

.People-count{
  width: 1200px;
  font-size: 20px;
  text-align: left;
  height: 40px;
}
.Search-label{
  font-size: 20px;
  font-weight: 500;

}
.Search-box{
  width: 400px;
  height: 50px;
  padding: 0 10px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 18px;
}

.Table-header {
  padding: 10px;
  background-color: #210d36;
  height: 50px;
  width: 1200px;
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  color: #fff


}

.Table-row {
  padding: 10px;
  background-color: #f7f7f7;
  height: 100px;
  width: 1200px;
  display: flex;
  border: 2px solid #fff;
  align-items: center;
  justify-content: flex-start;
}
.Table-row:hover {
  cursor: pointer;
  border: 2px solid purple;
}
.Image-header{
  width: 80px;
}

.Image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #f7f7f7;
}
.Name{
  width: 200px;
}
.Person-title{
  width: 200px;

}
.Department{
  width: 200px;

}
.Location{
  width: 200px;
}
.Favorite-emoji{
  width: 200px;
}
/* .Tags {
  width: 350px;
  overflow-x: scroll;
  overflow-y: scroll;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.Tag {
  margin: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 5px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
} */
.Take-quiz{
  width: 100px;
}