.Snacks {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.Snack-boxes{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Snack-box{
  background-color: #f2f2f2;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  flex-direction: column;
}

.Snack-box:hover{
  border: 2px solid purple;
}

.Submit-snack{
  color: white;
  background-color: purple;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin: 20px;

}
